.event_table table {

    width: 80%;
}

.event_table th {

    padding: 10px;
}

.event_table td {

    padding-bottom: 2px;
    padding-top: 2px;
    word-wrap: break-word;
    height: 50px;
    vertical-align: top;
    width: 500px;
    opacity: 0.5;
}

.event_list .list tr:hover {

    cursor: pointer;
}

.user_info {
    cursor: pointer;
    text-decoration: underline;
}